
body {
  background: linear-gradient(pink, purple, navy);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  color: navy;
  margin: 0;
  padding: 0;
}

h3,
h4,
h5 {
font-size: 80px;
margin: 0;
color: navy;
}


h5 {
  margin-top: 30px;
  font-size: larger;
}


.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}


.game-section {
    background: white;
    width: 50%;
    height: 100vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.game-board {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.disable {
  pointer-events: none;
}


.box {
  box-sizing: border-box;
  display: flex;
  height: 175px;
  width: 175px;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}


.box0,
.box1,
.box2 {
  border-bottom: 8px solid navy;
}


.box6,
.box7,
.box8 {
  border-top: 8px solid navy;
}


.box1,
.box4,
.box7 {
  border-left: 8px solid navy;
  border-right: 8px solid navy;
}


button {
  background-color: navy;
  color: white;
  font-weight: bold;
  font-size: x-large;
  font-family: sans-serif;
  border-radius: 6px;
  padding: 20px;
  margin-top: 60px;
  transition-duration: 0.2s;
}


button:hover {
  background-color: purple;
}
